# Free stock market APIs

주식 시장 데이터 API는 현재 시장에서 거래되는 금융 자산에 대한 실시간 또는 과거 데이터를 제공합니다. 이러한 API는 일반적으로 공개 주식, ETF, ETN의 가격을 제공합니다.  
이러한 데이터는 거래 전략을 수립하고 시장을 모니터링하는 기반이 되는 기술 지표를 생성하는 데 사용할 수 있습니다.

# 1. 야후 파이낸스
문서: [yfinance](https://github.com/ranaroussi/yfinance)  
tutorial: https://aroussi.com/post/python-yahoo-finance

In [3]:
!pip install yfinance # DOS command 입력하듯이 yfinance을 install해준다.

Requirement already satisfied: yfinance in c:\users\miyao\anaconda3\lib\site-packages (0.2.27)
Requirement already satisfied: pandas>=1.3.0 in c:\users\miyao\anaconda3\lib\site-packages (from yfinance) (1.5.3)
Requirement already satisfied: numpy>=1.16.5 in c:\users\miyao\anaconda3\lib\site-packages (from yfinance) (1.24.3)
Requirement already satisfied: requests>=2.31 in c:\users\miyao\anaconda3\lib\site-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\miyao\anaconda3\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in c:\users\miyao\anaconda3\lib\site-packages (from yfinance) (4.9.2)
Requirement already satisfied: appdirs>=1.4.4 in c:\users\miyao\anaconda3\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in c:\users\miyao\anaconda3\lib\site-packages (from yfinance) (2022.7)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\miyao\anaconda3\lib\site-packages (from yfinance) (2.3.8)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\miyao\anaconda3\lib\site-packages (from yfinance) (4.12.2)
Requirement already satisfied: html5lib>=1.1 in c:\users\miyao\anaconda3\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\miyao\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4)
Requirement already satisfied: six>=1.9 in c:\users\miyao\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\users\miyao\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\miyao\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\miyao\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\miyao\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\miyao\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\miyao\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2023.5.7)

In [4]:
import matplotlib.pyplot as plt

import yfinance as yf

In [9]:
df = yf.download('AAPL', start='2022-01-01', progress=False)
df.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-03,177.830002,182.880005,177.710007,182.009995,180.190964,104487900
2022-01-04,182.630005,182.940002,179.119995,179.699997,177.904053,99310400
2022-01-05,179.610001,180.169998,174.639999,174.919998,173.171829,94537600
2022-01-06,172.699997,175.300003,171.639999,172.000000,170.281021,96904000
2022-01-07,172.889999,174.139999,171.029999,172.169998,170.449341,86709100

In [10]:
df.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-08-07,182.130005,183.130005,177.350006,178.850006,178.608810,97576100
2023-08-08,179.690002,180.270004,177.580002,179.800003,179.557526,67823000
2023-08-09,180.869995,180.929993,177.009995,178.190002,177.949707,60378500
2023-08-10,179.479996,180.750000,177.600006,177.970001,177.729996,54686900
2023-08-11,177.320007,178.619995,176.550003,177.789993,177.789993,51988100

- 미국 주식

- 한국 주식

In [12]:
df = yf.download('005930.KS', start='2023-01-01')
df.tail()

[*********************100%***********************]  1 of 1 completed

               Open     High      Low    Close  Adj Close    Volume
Date
2023-08-07  67700.0  69200.0  67600.0  68500.0    68500.0  10968505
2023-08-08  69000.0  69100.0  67400.0  67600.0    67600.0  14664709
2023-08-09  68000.0  69600.0  67900.0  68900.0    68900.0  17259673
2023-08-10  68300.0  68500.0  67800.0  68000.0    68000.0  10227311
2023-08-11  68400.0  68800.0  67500.0  67500.0    67500.0   9781038

# 2. Pandas data_reader & FinanceDataReader

pandas-datareader 는 잘 구성된 시계열 데이터 수집 라이브러리로 사용이 간편하고 다양한 시계열 데이터를 수집할 수 있다는 장점이 있다. 하지만, 거래소별(KRX, NASDAQ, NYSE 등) 전체 종목 코드(ticker symbol)를 가져오는 기능이 없으며, 야후 파이낸스가 더 이상지원되지 않고(deprecated), 구글 파이낸스는 UNSTABLE_WARNING + RemoteDataError 를 낸다.

FinanceDataReader는 pandas-datareader 를 대체하기 보다 보완하기 위한 목적으로 만들어졌다. 주요한 기능은 다음과 같다.

- 종목 코드  
거래소별 전체 종목코드: KRX (KOSPI, KODAQ, KONEX), NASDAQ, NYSE, AMEX, S&P 500  


- 가격 데이터  
해외주식 가격 데이터: AAPL(애플), AMZN(아마존), GOOG(구글) 등  
국내주식 가격 데이터: 005930(삼성전자), 091990(셀트리온헬스케어) 등  
각종 지수: KS11(코스피지수), KQ11(코스닥지수), DJI(다우지수), IXIC(나스닥 지수), US500(S&P 5000)  
환율 데이터: USD/KRX (원달러 환율), USD/EUR(달러당 유로화 환율), CNY/KRW: 위엔화 원화 환율  
암호화폐 가격: BTC/USD (비트코인 달러 가격, Bitfinex), BTC/KRW (비트코인 원화 가격, 빗썸)

In [26]:
# !pip install finance-datareader
!pip install pandas_datareader

Collecting pandas_datareader
  Downloading pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
                                              0.0/109.5 kB ? eta -:--:--
     -------------------------------------- 109.5/109.5 kB 3.1 MB/s eta 0:00:00
Requirement already satisfied: lxml in c:\users\miyao\anaconda3\lib\site-packages (from pandas_datareader) (4.9.2)
Requirement already satisfied: pandas>=0.23 in c:\users\miyao\anaconda3\lib\site-packages (from pandas_datareader) (1.5.3)
Requirement already satisfied: requests>=2.19.0 in c:\users\miyao\anaconda3\lib\site-packages (from pandas_datareader) (2.31.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\miyao\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\miyao\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\miyao\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (1.24.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\miyao\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\miyao\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\miyao\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\miyao\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2023.5.7)
Requirement already satisfied: six>=1.5 in c:\users\miyao\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.23->pandas_datareader) (1.16.0)
Installing collected packages: pandas_datareader
Successfully installed pandas_datareader-0.10.0

In [27]:
import pandas_datareader as data_reader
import FinanceDataReader as fdr
import datetime

start = datetime.datetime(2023, 1, 1)
end = datetime.datetime(2023, 8, 11)
start, end

(datetime.datetime(2023, 1, 1, 0, 0), datetime.datetime(2023, 8, 11, 0, 0))

In [34]:
stock = data_reader.DataReader("AAPL",data_source='yahoo',start=start,end=end)
stock.head()

TypeError: string indices must be integers, not 'str'

- 미국 주식

- 한국 주식

- 원-달러 환율

- DataReader