In [ ]:
# Python Crash Course

* Data types
    * Numbers
    * Strings
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
* Comparison Operators
* if,elif, else Statements
* for Loops
* range()
* functions

### Variable Assignment

In [3]:
name_of_var = "hello"
print(name_of_var)
type(name_of_var)

hello

str

In [4]:
x = 2
y = 3
z = x + y
print(z)

5

In [5]:
a, b, c = 1, 2, 3
print(a,b,c)

1 2 3

In [6]:
a

1

In [7]:
b

2

name_of_var = 2   
print(name_of_var)

In [2]:
x = 2
y = 3
z = x + y
z

5

In [3]:
# Multiple Assignment
a, b, c = 1, 2, 3
print(a, b, c)

1 2 3

### Strings

In [30]:
data = "Hello World"
data[0]

'H'

In [31]:
data[-1] # 음수 index로 끝에서 마지막 글자(-1) 출력
# INDEXING

'd'

In [32]:
data[-2]

'l'

In [33]:
data[0:5] # [0,5) 까지 index 에 있는 글자 출력
# SLICING

'Hello'

In [35]:
len(data) # 글자 길이 출력 len(글자)

11

In [4]:
data = 'hello world'
print(data[0])
print(len(data))
print(data)

h
11
hello world

### Printing

In [5]:
num = 12
name = 'Sam'

print('My number is: {}, and my name is: {}'.format(num, name))
print(f'My number is: {num}, and my name is: {name}')

My number is: 12, and my name is: Sam
My number is: 12, and my name is: Sam

In [27]:
num = 12
name = "Sam"

print("Number is {} and name is {}".format(num, name))
print(f"Number is {num} and name is {name}") # f-string
print("Number is", num, "name is", name)

Number is 12 and name is Sam
Number is 12 and name is Sam
Number is 12 name is Sam

### Lists

In [38]:
my_list = ['A','B','C']
for e in my_list:
    print(e)

A
B
C

In [39]:
my_list[0]

'A'

In [40]:
my_list[1]

'B'

In [42]:
my_list[:2] # my_list[0:2]

['A', 'B']

In [43]:
my_list

['A', 'B', 'C']

In [6]:
my_list = ['a','b','c']

In [7]:
my_list.append('d')
my_list

['a', 'b', 'c', 'd']

In [8]:
my_list[0]

'a'

In [9]:
my_list[1]

'b'

In [10]:
my_list[1:]

['b', 'c', 'd']

In [11]:
my_list[:1]

['a']

### Dictionaries

In [45]:
data = {'AAPL': 100, 'TSLA': 200}
# key:value 쌍으로 이루어져있음
data['AAPL']

100

### Booleans

In [14]:
True

True

In [15]:
False

False

### Tuples

In [16]:
# Tuples은 값을 못 바꾸는 list라고 생각하면 된다.
my_list = ('a','b','c')

In [17]:
my_list[0]

'a'

In [18]:
my_list[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

## if, elif,  else Statements

In [48]:
x = 1
if x > 2:
    print("2보다 큼")
elif x < 2:
    print("2보다 작음")
else :
    print("invalid")

2보다 작음

## for Loops

In [49]:
for el in my_list:
    print(el)

A
B
C

In [51]:
seq = ['a','b','c','d','e']

In [52]:
for item in seq:
    print(item)

a
b
c
d
e

## range()

In [57]:
total = 0
tot = []
for i in range(1, 11):
    print(i)
    total += i
    tot.append(i)
    
print(total)
print(tot)

1
2
3
4
5
6
7
8
9
10
55
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
for i in range(5):
    print(i)

0
1
2
3
4

## 함수

In [58]:
def mySum(x, y):
    total = x + y
    return total

In [59]:
mySum(10, 20)

30

In [63]:
def average(a,b,c):
    total = a+b+c
    return total/3

In [64]:
average(20, 30, 40)

30.0

In [24]:
def mysum(x, y):
    sum = x + y
    return sum
 
# Test sum function
print(mysum(1, 3))

4

In [25]:
def square(x):
    return x**2

In [26]:
out = square(2)
out

4